@import "tailwindcss";

@font-face {
  font-family: "Fieldwork";
  src: url("/font/fonnts.com-Fieldwork-Geo-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Fieldwork";
  src: url("/font/fonnts.com-Fieldwork-Geo-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Fieldwork";
  src: url("/font/fonnts.com-Fieldwork-Geo-Demibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Fieldwork";
  src: url("/font/fonnts.com-Fieldwork-Geo-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Fieldwork";
  src: url("/font/fonnts.com-Fieldwork-Geo-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Fieldwork";
  src: url("/font/fonnts.com-Fieldwork_Italic_Regular.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Fieldwork";
  src: url("/font/fonnts.com-Fieldwork_Italic_Bold.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Fieldwork";
  src: url("/font/fonnts.com-Fieldwork_Italic_Black.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

:root {
  --background: #053787;
  --foreground: #ffffff;
  --font-sans: "Fieldwork", Arial, Helvetica, sans-serif;
  --blue-light: #2369ad;
  --blue-mid: #053787;
  --blue-dark: #061c4b;
}

html {
  background-color: #053787;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background-color: #053787;
  /* Default (Mobile): Darker, vertical gradient */
  background: linear-gradient(to bottom, #053787 0%, #061c4b 100%);
  background-attachment: fixed;
  color: var(--foreground);
  font-family: var(--font-sans);
  min-height: 100vh;
}

/* Desktop: Radial gradient */
@media (min-width: 768px) {
  body {
    background: radial-gradient(circle at top right, #2369ad, #053787, #061c4b);
    background-attachment: fixed;
  }
}

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-slide {
  animation: fadeSlideIn 0.5s ease-out forwards;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.animate-shine {
  animation: shine 3s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

.animate-scroll {
  animation: scroll 60s linear infinite; /* Slower for smoother perception */
  will-change: transform;
  backface-visibility: hidden;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.animate-scroll:hover {
  animation-play-state: paused;
}
